

* {
    margin: 0;
    padding: 0;
}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 200px;
}

.primary-btn {
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: 8px;
    background-color: aqua;
    border: none;
    padding: 20px 25px;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title {
    font-size: 2.8rem;
    color: #131313;
    font-weight: 700;
}

nav > ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
    padding: 12px 10px;
}

nav ul li a {
    text-decoration: none;
    color: #424242;
    font-size: 1.4rem;    
}

.benner {
    margin-top: 8rem;
}

.benner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.benner-title {
    font-size: 4rem;
    text-align: center;
    color: #131313;
    font-weight: 700;
    margin-top: 60px;
}

.benner-description {
    font-size: 1rem;
    color: #727272;
    font-weight: 400;
    margin: 20px 0;
}

.benner img {
    width: 100%;
    margin-top: 30px;
}

/*----- Main Section Start Hear -----*/

main {
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px 200px;
}

/*----- Teams Container Section -----*/

.teams-container {
    display: flex;
    align-items: center;
}

.teams-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-image img {
    width: 15rem;
    height: 15rem;
}

.teams-content {
    padding-left: 4.5rem;
}

.teams-title {
    color: #727272;
    font-size: 2.8rem;
    font-weight: 500px;
}

.teams-title .our {
    color: #131313;
    font-weight: 700;
}

.teams-title .feature {
    color: aqua;
    font-weight: 700;
}

.teams-description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin: 20px 0;
}

/*----- Feature Section -----*/

.features {
    margin: 8rem 0 3rem;
    display: flex;
    gap: 5.5rem;
}

.feature-title {
    font-size: 2.8rem;
    color: #131313;
    font-weight: 700;
    padding-left: 1rem;
    border-left: .3rem solid aqua;
    margin-bottom: 1rem;
}

.feature-description {
    font-size: 1rem;
    color: #727272;
    font-weight: 400;
}

.feature-box {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 1rem;
    margin-top: 1.2rem;
}

.feature-box-title {
    color: #131313;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: .3rem;
}

.feature-box-description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

.feature-image img {
    width: 31.25rem;
    height:  48.75rem;
}

.year-of-experience {
    padding: 2rem;
    color: white;
    background-color: aqua;
    border-radius: .5rem;
    width: 12rem;
    height: 5rem;
    text-align: center;
    position: relative;
    bottom: 4.5rem;
    right: 3.5rem;
}

.year-of-experience h3 {
    font-size: 3rem;
    font-weight: 700;
}

.year-of-experience {
    font-size: 1.5rem;
    font-weight: 600;
}


/*----- Fact Section -----*/

.facts-title {
    font-size: 2.8rem;
    color: #131313;
    font-weight: 700;
}

.facts-description {
    font-size: 1rem;
    color: #727272;
    max-width: 32rem;
    font-weight: 400;
    margin: 1.5rem 0;
}

.facts-box {
    display: flex;
    justify-content: space-around;
}

.box {
    border: 1px solid aqua;
    border-radius: .5rem;
    text-align: center;
    padding: 1.5rem 1.5rem;
}

.box img {
    height: 2rem;
    width: 2rem;
}

.box h3 {
    font-size: 2rem;
    color: #424242;
    font-weight: 600;
    margin: .5rem 0;
}

.box p {
    font-size: 1rem;
    color: #727272;
    font-weight: 600;
}

/*----- Sponspors Section -----*/

.sponspors-content {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.sponspors-content h3 {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
    margin-top: 5rem;
}

.sponspors-content p {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin: 1.2rem 0;
}

.sponspors-logo img {
    width: 7rem;
    height: 2rem;
    margin: 3rem 0  0 4rem;
}

footer {
    border-radius: 8px;
    background: rgb(210, 249, 249);
    margin: 0 13rem 6rem;
}

footer p {
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem;
}

footer small {
    color: #424242;
    font-size: 1.1rem;
}



/*----- Responsive Media Queries -----*/

/*----- Mobile Device -----*/

@media screen and (max-width: 576px) {
    header {
        padding: 1.5rem;
    }
    nav, .teams-container, .facts-box, .features {
        flex-direction: column;
    }
    .benner-title {
        font-size: 3rem;
    }
    main {
        padding: 1.5rem;
    }
    .teams-image {
        grid-template-columns: 1fr;
    }
    .teams-image img {
        width: 20rem;
        height: 20rem;
    }
    .teams-content {
        padding: 1.4rem;
    }
    .teams-title {
        margin-top: 2.5rem;
    }
    .feature-image img {
        width: 100%;
    }
    .year-of-experience {
        position: static;
        margin: 2rem auto 0;
    }
    .box {
        margin-top: .8rem;
    }
    footer {
        margin: 0 1.5rem 1.5rem;
    }
    
}

/*----- Tablet Device -----*/

@media screen and (min-width: 576px) and (max-width: 900px) {
    header {
        padding: 4rem;
    }
    nav, .teams-container, .features {
        flex-direction: column;
    }
    main {
        padding: 3rem 1.5rem;
    }
    .teams-content {
        padding: 4rem;
    }
    .features {
        margin-top: 3rem;
    }
    .feature-image img {
        width: 100%;
    }
    .year-of-experience {
        position: static;
        margin: 2rem auto 0;
    }
    .facts-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    footer {
        margin: 0 1.5rem 1.5rem;
    }
    
}

